*{  
	padding: 0;
	margin: 0;
}
body{
	text-align: center;
	background: -webkit-linear-gradient(90deg, #90d0d4,#74655b);
    background: linear-gradient(90deg, #90d0d4,#74655b);                                             
}

input{
	margin-top: 2rem;
	font-size: 3rem;
}

#result{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	font-size: 2rem;
	background-color: #fff;
	margin: 2rem auto;
	width: 30rem;
	padding: 1rem;
	border-radius: 1rem;
}